<div class="notificaciones-tabla-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" multiTemplateDataRows>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let notificacion"> {{ notificacion.nombre }} </td>
    </ng-container>

    <!-- Descripción -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let notificacion"> {{ notificacion.descripcion }} </td>
    </ng-container>

    <!-- Fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let notificacion">
        {{ notificacion.fechaPublicacion | date: 'mediumDate' }}
      </td>
    </ng-container>

    <!-- Descargar -->
    <ng-container matColumnDef="descargar">
      <th mat-header-cell *matHeaderCellDef> Archivo </th>
      <td mat-cell *matCellDef="let notificacion">
        <a [href]="notificacion.archivoUrl"
           target="_blank"
           rel="noopener noreferrer"
           mat-icon-button
           matTooltip="Descargar archivo">
          <mat-icon>download</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [pageSize]="5"></mat-paginator>
</div>
